@charset "utf-8";
/* CSS Document */

.czcionka1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #000;
	background-color: #FFF;
}
.czcionka2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: normal;
	color: #009;
}
.czcionka3 {
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	font-style: normal;
}
.tlo1 {
	background-color: #FFC;
}
.tlo2 {
	background-color: #CCC;
}
.tlo3 {
	background-color: #FC9;
}
.tlo4 {
	background-color: #CCC;
}
.tlo5 {
	background-color: #666;
}
table{border-collapse:collapse}
		

